<div id="home-header" class="jumbotron">
  <div class="container">
    <%= flash_messages %>
    <div class="row">
      <div class="col-xs-9">
        <h1><%= t("branding.site_name") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>Jump around on couch, meow constantly until given food, knock over christmas tree paw at beetle and eat it before it gets away or human give me attention meow.</p>

        <%= link_to "Sign Up Meow!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="page-header text-center">Purrfect Features for your growing company!</h2>

    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-line-chart"></span>
        </div>

        <div class="panel-footer text-center">Lines</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-pie-chart"></span>
        </div>

        <div class="panel-footer text-center">Pies</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-chrome"></span>
        </div>

        <div class="panel-footer text-center">Browsers</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-users"></span>
        </div>

        <div class="panel-footer text-center">Visitors</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-paper-plane"></span>
        </div>

        <div class="panel-footer text-center">Fast</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <div class="panel panel-default">
        <div class="panel-body feature text-center">
          <span class="fa fa-plus"></span>
        </div>

        <div class="panel-footer text-center">And More</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="page-header text-center">Featured Client Success Stories</h2>

    <div class="col-sm-3 text-right">
      <p>Run in circles cat slap dog in face bathe private parts with tongue then lick owner's face eat a plant, kill a hand yet attack feet.</p>
      <p>Howl uncontrollably for no reason spit up on light gray carpet instead of adjacent linoleum lounge in doorway, lay on arms while you're using the keyboard, yet climb a tree, wait for a fireman jump to fireman then scratch his face meow.</p>
    </div>
    <div class="col-sm-3">
      <img class="img-responsive thumbnail" src="http://placekitten.com/300/300?image=1">
    </div>
    <div class="col-sm-3">
      <img class="img-responsive thumbnail" src="http://placekitten.com/300/300?image=2">
    </div>
    <div class="col-sm-3">
      <p>Sleep on keyboard cat snacks, so climb leg, for under the bed stare at ceiling light so lick arm hair.</p>
      <p>Lick arm hair has closed eyes but still sees you hopped up on catnip, pee in human's bed until he cleans the litter box but loves cheeseburgers or pelt around the house and up and down stairs chasing phantoms, for burrow under covers. Steal the warm chair right after you get up.</p>
    </div>
  </div>
</div>