@import "application";
@import "bootstrap-datepicker3.standalone.min";

.chart {
    height: 200px
}

.metric-panel {
    font-size: 2em;
    font-weight: bold;
}

.page-header {
    .btn-group {
        margin-top: 20px;
    }
}