<div class="row">
    <div class="col-sm-9">
        <h3>Page Views By Operating System</h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Browser</th>
                    <th class="col-xs-2">Views</th>
                </tr>
            </thead>
            <tbody>
                <% @os_breakdown.each do |page| %>
                <tr>
                    <td><%= page.platform %></td>
                    <td class="col-xs-2"><%= number_with_delimiter(page.count) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Operating Systems</div>
            <div class="panel-body">
                <div id="os-chart" class="chart contains-chart"></div>
            </div>
        </div>
    </div>
</div>

<% content_for :footer_javascript do %>
    // Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [],
            base = Highcharts.getOptions().colors[0],
            i;

        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());

    $('#os-chart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: null
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                // showInLegend: true
            }
        },
        series: [{
            name: 'Browsers',
            colorByPoint: true,
            data: <%= @os_breakdown.map { |b| {name: b.platform, y: b.count} }.to_json.html_safe %>
        }],
        credits: false,
        yAxis: {
            title: {
                text: null
            }
        }
    });
<% end %>