<div class="row">
    <div class="col-xs-12">
        <h3>Page Views</h3>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Page</th>
                    <th class="col-xs-2">Views</th>
                </tr>
            </thead>
            <tbody>
                <% @popular_pages.each do |page| %>
                <tr>
                    <td><%= page.path %></td>
                    <td class="col-xs-2"><%= number_with_delimiter(page.count) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
