<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Page</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            <% @popular_pages.each do |page| %>
            <tr>
                <td><%= link_to page.path, [@site.url, page.path].join() %></td>
                <td><%= number_with_delimiter(page.count) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
