<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">New Site</h1>
        </div>
    </div>

    <%= form_for(:site, url: sites_path, html: { method: :post }) do |f| %>
        <div class="row">
            <div class="col-xs-12">
                <%= errors_for(@site) %>
            </div>
        </div>

        <%= render "form", f: f %>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <%= f.submit class: "btn btn-primary btn-block" %>
            </div>
        </div>
    <% end %>
</div>